DATABASE_URL={{ DATABASE_URL }}
PORT={{ PORT }}
JWT_SECRET={{ JWT_SECRET }}
FRONTEND_URL={{ FRONTEND_URL }}
AI_SERVICE_URL={{ AI_SERVICE_URL }}
PREDICTION_SERVICE_URL={{ PREDICTION_SERVICE_URL }}
MAIL_HOST={{ MAIL_HOST }}
MAIL_PORT={{ MAIL_PORT }}
MAIL_USER={{ MAIL_USER }}
MAIL_PASSWORD={{ MAIL_PASSWORD }}